* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding-top: 10px;
}
aside {
  padding-top: 15px;
}
.main-form {
  padding: 15px 0ps;
  height: 80%;
  border: 1px solid lightgray;
  margin-top: 50px;
  background: #f1f1f1;
  padding-bottom: 20px;
}

form label {
  display: block;
  font-size: 22px;
  font-weight: 400;
}

form input {
  border: 1px solid rgb(190, 190, 190);
  width: 80%;
  border-radius: 15px;
  padding: 5px;
  margin-top: 10px;
  padding-left: 15px;
}
form textarea {
  width: 80%;
  height: 130px;
  padding: 10px;
  padding-left: 15px;
  border-radius: 10px;
}

form input[type="radio"] {
  width: 30px;
  box-shadow: none;
}
