.facilities {
  display: inline-block;
  width: fit-content;
  margin-top: 15px;
  padding: 10px;
  font-weight: 600;
}
input[type="checkbox"] {
  width: fit-content;
  width: 30px;
}

.chkbox-label {
  display: inline;
  font-size: 1rem;
}
