* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
}

main .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #adadad;
  padding: 10px;
  background: #fcfbfb;
}

li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
}

.logo-img {
  width: 75px;
  margin-left: 15px;
}

section.logo {
  text-align: center;
}

section.profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

section.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
}
